@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
}

ul {
    display: flex;
}

li {
    list-style: none;
   
}

.nav__logo {
    width: 120px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}
.nav__link--primary {
    margin-left: 20px;
    border: 2px solid #7342d6;
    border-radius: 15px;
    background-color: rgb(136, 146, 161);
}
 
.Treact__bold {
    display: flex;
    font-weight: bolder;
    font-size: 40px;
    margin-right: 250px;
}

@media 750px {
    width: 100%;
    
}